
  @import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Pacifico&display=swap');

header {
    font-family: 'Coming Soon', cursive;
}
:root{
    --red: #dc3545;
    --white: white;
}
html{
    height: 100%;
}
nav {
    background-color: var(--red) !important;
    color: var(--white)!important;
    padding: 10px;
}
body {
    background:url('https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'); 
    background-size: cover;
    background-position: center;
    min-height: 100%;
    
}
main {
    min-height: 50vh;
    background-color: rgba(0,0,0,.85)
}
.cont {
    display: flex;
    
}
#poster img{
    width: 100%;
    height: 100%;
  
}


#info {
    margin-bottom: 10px;
    margin-top:10px; 
  
}

section{
    min-height: 50vh;
    background-color: rgba(0,0,0,.85);
    padding-right: 60px;
}

.infoborder{
    border: 4px;
    border-style:  solid;
    border-color: #fafafa;
    padding-left: 2%;
}
.posterimage{
    border: 4px;
    border-style: solid;
    border-color: #dc3545;
}
.streaminfo{
    border: 4px;
    border-style:  solid;
    border-color: #fafafa;
}
#suggestion-list {
    list-style: none;
    font-weight: bold;
    transform: translateX(-3.5%);
    
}