
  @import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Pacifico&display=swap');
* {
    text-shadow: .5 .5 2px;
}

header {
    font-family: 'Coming Soon', cursive;
}
:root{
    --red: #dc3545;
    --white: white;
}
html{
    height: 100%;
}
nav {
    background-color: var(--red) !important;
    color: var(--white)!important;
    padding: 10px;
}
.navbar-brand {
    font-size: 2.2rem;
}
body {
    background:url('https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'); 
    background-size: cover;
    background-position: center;
    
    
}
main {
    min-height: 50vh;
    background-color: rgba(0,0,0,.85)
}
.cont {
    
    display: flex;
    justify-content: space-between;
    
}
#info p{
    font-size: 1.2rem;
    color: black;
    z-index:10 !important;
}
#title{
    width: 100% !important;
    text-align: center;
    color: var(--red) !important;
    font-size: 2rem !important;
}
#poster img{
    width: 100%;
    height: 100%;
  
}


#info {
    
    margin-bottom: 10px;
    margin-top:10px; 
  
}
#info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(15px);
    z-index: -1;
}

section{
    min-height: 50vh;
    background-color: rgba(0,0,0,.85);
    padding-right: 60px;
}

.infoborder{
    position: relative;
    padding-left: 2%;
    border-radius: 20px;
    background-color: rgba(255,255,255,.35);
    z-index: 1;
    padding: 20px; /* Add padding to create depth */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.infoborder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(15px);
    z-index: -1;
}
.posterimage{
    border: 2px;
    border-style: solid;
    border-color: #dc3545;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,.1);
}

.streaminfo{
    position: relative;
    background-color: rgba(255,255,255,.35);

   text-align: center;
   border-radius: 20px;
   z-index: 1;
   padding: 10px;
   box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
}
.streaminfo::before{
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    z-index: -1;
}
#suggestion-list {
    list-style: none;
    font-weight: bold;
    transform: translateX(-3.5%);
    
}
@media screen and (max-width:991px) {
    .cont {
        flex-direction: column-reverse;
    }
    #info {
        width: 85%;
        margin: 4% auto;
    }
    #poster {
        width: 85%;
        height: auto;
        margin: 0 auto;
    }
}
@media screen and (max-width:300px) {
    .navbar-toggler {
        margin: 0 auto;
    }
}
@media (min-width: 1440px) {
    html {
      zoom: 1.2;
    }
  }
  
  @media (min-width: 2560px) {
    html {
      zoom: 1.7;
    }
  }
  
  @media (min-width: 3860px) {
    html {
      zoom: 2.5;
    }
  }
